* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #24272e;
}
header{
    background: white;
    padding: 20px;
}


header > h1 {
    color: #25272e;
    text-align: center;
    font-family: Asap, sans-serif;
}
.score-board {
    margin: 20px auto;
    border: 3px solid white;
    width: 200px;
    color: white;
    font-size: 40px;
    border-radius: 4px;
    padding: 15px 20px;
    position: relative;
    text-align: center;
}
.badge {
    background-color: #e25840;
    color: white;
    font-size: 14px;
    padding-top: 10px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
}
#user-label {
    position: absolute;
    top: 25px;
    left: -20px;
}
#computer-label {
    position: absolute;
    top: 25px;
    right: -20px;
}
.result {
    font-size: 40px;
    color: white;
}
.result > p {
    text-align: center;
    font-weight: bold; 
}
.choices {
    text-align: center;
    margin: 50px 0;
}
.choice {
    display: inline-block;
    margin: 0 20px;
    border-radius: 50%;
    padding: 4px 5px;
    padding-top: 8px;
    background-color: transparent;
    transition: all 0.4s ease;
}
.choice:hover {
    cursor: pointer;
    /* background-color: purple; */
}
.choice > img {
    width: 90px;
}
#action-message {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.green-glow {
    background-color: #4dcc7d;
    box-shadow: 0 0 10px #31b43a;
}
.red-glow {
    background-color: #fc121b;
    box-shadow: 0 0 10px #d01115;
}
.gray-glow {
    background-color: #464647;
    box-shadow: 0 0 10px #25292b;
}